body{
    background-color: aqua;
}
h1{
    color:blue;
    border: double;
}


.titulo{
    color: aquamarine;
    text-align: center;
    border: none;
}
button{
    color: azure;
    font-size:50px;
}
.imagem-paisagem{
    width: 20px;
}